/* ----- GLOBAL STYLES ----- */

:root{
  --color-primary: #ffbf00;
  --color-secondary: #90a1b9;
  --res-padding: 0 2rem;
  --res-x-padding: 2rem;
}

*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}

ul, li{
  list-style: none;
  padding: 0;
}

button{
  font-family: 'Poppins';
}

html{
  padding: var(--res-padding);
  background-color: black;
  color: white;
  font-family: 'Poppins';
  margin: 0;
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

/* ----- SHARED CLASSES ----- */

.app__section{
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 0;
}

.app__sectionTitle{
  font-size: 3rem;
  text-align: center;
  text-wrap: balance;
  margin: 0;
  margin-bottom: 3rem;
}

.app__subtitle{
  margin-top: 4rem;
  font-size: 2rem;
  text-align: center;
  text-wrap: balance;
}

.app__button{
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  padding: .7rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  text-align: center;
}

.app__button--cto{
  font-size: 1.3rem;
}

.app__button span{
  margin-left: .5rem;
  transition: transform .3s ease-in-out;
  display: inline-block;
}

.app__button:hover{
  box-shadow: 0 0 20px white;
}

.app__button:hover span{
  transform: translateX(5px);
}

.app__list{
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
}

.app__listItem{
  margin-bottom: 1rem;
}

/* ----- HEADER STYLES ----- */

.header__innnerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.header__left{
  flex-basis: 50%;
  animation: fade-from-left 1s ease-in-out both;
}

.header__title{
  font-size: 4.3rem;
  line-height: 4.5rem;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  margin: 0;
  margin-bottom: 3rem;
}

.header__title span{
  text-wrap: pretty;
}

.header__description{
  font-size: 1.2rem;
  color: var(--color-secondary);
  margin-bottom: 3rem;
}

.header__description span{
  color: white;
}

.app__button--animated{
  animation: float 2s ease-in-out alternate infinite;
}

.header__link:hover{
  box-shadow: 0 0 20px white;
}

.header__right{
  flex-basis: 50%;
  display: flex;
  justify-content: end;
  animation: fade-from-right 1s ease-in-out both;
}

.header__image{
  max-width: 512px;
  min-width: 300px;
  width: 100%;
}

/* ----- FIRST SECTION STYLES ----- */

.firstSection__cards{
  margin: 0 2rem;
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}


.firstSection__card.visible{
  opacity: 1;
  transform: translateY(0);
}

.firstSection__card{
  opacity: 0;
  border: 1px solid rgba(255, 255, 255, 0.13);
  background-color: #0C0C0D;
  border-radius: 1rem;
  padding: 2rem;
  transform: translateY(10px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  flex-basis: calc(25% - 2rem);
}

.firstSection__card h3{
  font-weight: 400;
}

.card__iconContainer{
  font-size: 2rem;
}

.firstSection__footer{
  text-align: center;
  margin-top: 3em;
}

.firstSection__footer h4{
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: .5rem;
  text-wrap: balance;
}

/* ----- SECOND SECTION STYLES ----- */

.secondSection__claim,
.secondSection__listTitle{
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  text-align: center;
  text-wrap: pretty;
}

.secondSection__listTitle{
  color: var(--color-primary);
  margin-bottom: 2.5;
}

/* ----- OTHER SECTION STYLES ----- */

.app__subtitle--third{
  margin-top: 1rem;
}

.fourthSection__productCard{
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: fit-content;
  border: 1px solid white;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 3rem 5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.63);
}

.productCard__img{
  width: 100%;
  max-width: 300px;
}

.productCard__content{
  display: flex;
  flex-direction: column;
}

.productCard__oldValue{
  width: fit-content;
  color: red;
  font-size: 1.3rem;
  position: relative;
}

.productCard__oldValue::after{
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: red;
  opacity: .8;
}

.productCard__newValue{
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.seventhSection__claim{
  color: var(--color-primary);
  font-size: 1.2rem;
}

.seventhSection__cto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.app__sectionTitle--seventh{
  margin-bottom: 0;
}

.app__subtitle--seventh{
  margin-top: 0;
  margin-bottom: 4rem;
}

/* ----- COUNTDOWN SECTION STYLES ----- */

.app__section--countdownSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.countdownSection__clock{
  background-color: red;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: ring 1s ease-in-out both infinite;
}

.countdownSection__clock svg{
  width: 34px;
}

.countdownSection__claim{
  text-align: center;
  margin-bottom: 0;
}

@keyframes ring {
  0%{
    transform: rotate(0deg);
  }20%{
    transform: rotate(10deg);
  }40%{
    transform: rotate(-10deg);
  }60%{
    transform: rotate(10deg);
  }80%{
    transform: rotate(-10deg);
  }100%{
    transform: rotate(0deg);
  }
}

.countdownSection__counter{
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 7rem;
}

.countdownSection__counter.stopped{
  color: red;
  animation: breathe 1s ease-in-out both infinite;
}

@keyframes breathe {
  0%{
    transform: scale(1);
  }50%{
    transform: scale(1.05);
  }100%{
    transform: scale(1);
  }
}
/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 1200px) {
  .firstSection__cards{
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  .firstSection__card{
    flex-basis: calc(50% - 2rem);
  }
}

@media screen and (max-width: 1024px) {
  .header__innnerContainer{
    flex-direction: column;
  }

  .header__title{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .header__title span{
    text-wrap: balance;
  }

  .header__left{
    margin-top: 3rem;
  }

  .header__right{
    justify-content: center;
  }

  .app__sectionTitle{
    font-size: 2rem;
  }
}

@media screen and (max-width: 770px) {

  .header__title{
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  .header__left{
    margin-top: 1.2rem;
  }

  .app__section{
    padding: 1.5rem 0;
  }

  .app_sectionTitle{
    font-size: 1.8rem;
  }

  .firstSection__cards{
    margin: 0;
  }

  .firstSection__card{
    flex-basis: 100%;
  }

  .app__subtitle{
    font-size: 1.7rem;
  }

}

@media screen and (max-width: 500px) {
  :root{
    --res-padding: 1.2rem;
    --res-x-padding: 1.2rem;
  }

  .countdownSection__counter{
    font-size: 5rem;
  }

  .app__button--cto{
    font-size: 1.3rem;
  }
}

/* ----- ANIMATIONS ----- */

@keyframes float {
  0% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes fade-from-left {
  from{
    opacity: 0;
    transform: translateX(-15px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-from-right {
  from{
    opacity: 0;
    transform: translateX(25px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}

.app__footer{
  display: flex;
  flex-direction: column;
  position: relative;
}

.app__footer::before{
  content: "";
  position: absolute;
  width: calc(100% + var(--res-x-padding) * 2);
  left: calc(0% - var(--res-x-padding));
  height: 1px;
  background-color: rgba(255, 255, 255, 0.205);
}

.footer__top{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.footer__author{
  flex-basis: 50%;
}

.footer__social{
  flex-basis: 50%;
  text-align: right;
}

.author__description{
  margin: 0;
}

.author__img{
  width: 80px;
  margin: 0;
}

.footer__bottom{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social__icon:hover svg{
  transform: scale(1.1);
}

.social__icon svg{
  transition: transform .2s ease-in-out;
  fill: white;
  width: 30px;
}
