.timeline__steps{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline__step{
  display: grid;
  grid-template-columns: 1fr 32px 2fr;
  grid-template-areas: "chapter line descr";
  column-gap: 1rem;
  min-height: 100px;
}

.step__title {
  grid-area: chapter;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.step__chapter{
  font-size: 1.6rem;
  font-weight: 600;
}

.step__chapter2{
  font-size: 1.4rem;
}

.step__description{
  grid-area: descr;
  margin: 0;
  margin-top: .3rem;
  font-size: 1.2rem;
}

.step__line{
  grid-area: line;
  width: 2rem;
  height: 110%;
  position: relative;
}

.step__line::before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 14px;
  left: calc(50% - 5px);
  outline: 2px solid white;
  outline-offset: 2px;
  transform: scale(0);
}

.step__line.visible::before{
  animation: show-dot 1s ease-in-out both;
}

@keyframes show-dot {
  from{
    transform: scale(0);
  }to{
    transform: scale(1);
  }
}

.step__line:not(.step__line--last)::after{
  content: "";
  width: 1px;
  height: 0%;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 14px;
  left: calc(50%);
}

.step__line.visible:not(.step__line--last)::after{
  animation: show-line 1s 1s ease-in-out both;
}

@keyframes show-line {
  from{
    height: 0%;
  }to{
    height: 130%;
  }
}


@media screen and (max-width: 700px) {
  .timeline__step{
    grid-template-columns: 32px 1fr;
    grid-template-areas:
    "line chapter"
    "line descr";
  }

  .step__title {
    align-items: start;
    text-align: left;
  }

  @keyframes show-line {
    from{
      height: 0%;
    }to{
      height: 110%;
    }
  }

}
